
*.pyc
venv/
asgiref/
dj-database-url/
Django/
django-crispy-forms/
django-filter/
django-heroku/
django-widget-tweaks/
gunicorn/
psycopg2/
pytz/
sqlparse/
whitenoise/
*.gif
auctions/static/img/MONITORES/Thumbs.db
auctions/migrations/0002_auto_20200902_0116.py
auctions/migrations/0002_auto_20200902_0116.py
