
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/login.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/categories.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/create.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Editar Produto</a>
    </nav>
    <div class="container mt-3">
      <div class="row justify-content-center">
          <div class="col-md-6">
            <form class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %} <!-- protege o formulário -->
            
                    <div class="form-field col-lg-6">           
                         {{ form.productnames|as_crispy_field }}
                    </div>
                    <div class="form-field col-lg-12 ">
                        {{ form.startingbids|as_crispy_field }}
                    </div>
                    <div class="form col-lg-6 ">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="form col-lg-12">
                        
                        {{ form.images|as_crispy_field }}
                    </div>
                    <div class="form col-lg-12">
                        {{ form.images2|as_crispy_field }}
                    </div>
                    <div class="form col-lg-12">
                        {{ form.images3|as_crispy_field }}
                    </div>
                    
                    <div class="form-field col-lg-12" style="hidden">
                        {{ form.descriptions|as_crispy_field }}
                    </div>
                    <div class="contact-form form-field col-lg-12">
                        <input class="submit-btn" type="submit" value="Enviar">
                        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Voltar</button>
                    </div>
                </form>
          </div>
      </div>
  </div>

  <br> <br>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    (function() {
        // Verificar a cada 5 minutos se a sessão expirou
        setInterval(function() {
            if (!document.cookie.includes('sessionid')) {
                // A sessão expirou, redirecionar para a página de login
                window.location.href = 'https://leilaodoreserva.onrender.com/login';
            }
        }, 5 * 60 * 1000); // 5 minutos em milissegundos
    })();
    </script>

</body>
</html>
