{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/login.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/categories.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/create.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Editar Produto</a>
    </nav>
    <div class="container mt-3">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <form method="post" class="form">
                  {% csrf_token %}
                  <div class="form-group">
                      <label>Produto:</label>
                      {{ form.productnames }}
                  </div>
                  <div class="form-group">
                    <label>Categoria:</label>
                    {{ form.category }}
                </div>
                  <div class="form-group">
                    <label>Preço:</label>
                    {{ form.startingbids}}
                    <div class="text-muted">Atenção! Ao alterar o valor do produto, todos os lances efetuados serão perdidos.</div>
                </div>
                <div class="form-group">
                  <label>Imagem 1 URL:</label>
                  {{ form.images }}
              </div>
              <div class="form-group">
                <label>Imagem 2 URL:</label>
                {{ form.images2 }}
            </div>
            <div class="form-group">
              <label>Imagem 3 URL:</label>
              {{ form.images3 }}
          </div>
          <div class="form-group">
            <label>Descrição: </label>
            {{ form.descriptions }}
        </div>
                  <div class="text-center mt-3">
                      <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                      <button type="button" class="btn btn-secondary" onclick="window.history.back();">Voltar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <br> <br>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    (function() {
        // Verificar a cada 5 minutos se a sessão expirou
        setInterval(function() {
            if (!document.cookie.includes('sessionid')) {
                // A sessão expirou, redirecionar para a página de login
                window.location.href = '/sua/pagina/de/login/';
            }
        }, 5 * 60 * 1000); // 5 minutos em milissegundos
    })();
    </script>

</body>
</html>
