{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}



<body onload="countdown()">
  <div class="container" style="margin: 100px auto">


    <div class="row">

      <!-- LEFT COLUMN - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
      <div class="col-md-7">

        <!-- IMAGE OF ITEM -->

        {% if object.images %}
        <div class="carousel-container">
          <div class="carousel">
            <img class="img-fluid rounded" src="{{ object.images }}" alt="No Image Available for {{ object.productnames}}">
            <img class="img-fluid rounded" src="{{ object.images2 }}" alt="No Image Available for {{ object.productnames}}">
            <img class="img-fluid rounded" src="{{ object.images3 }}" alt="No Image Available for {{ object.productnames}}">
          </div>
        </div>
        <style>
          .carousel-container {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 80%;
  margin: 50px auto;
}

.carousel {
  display: flex;
  scroll-snap-type: x mandatory;
}

.carousel img {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  scroll-snap-align: center;
}
        </style>
        {% else %}
        <img class="img-fluid rounded mb-3 mb-md-0"
          src="https://raw.githubusercontent.com/Natans37/e-commerce-website/254db792501b2711e2f183fbc5092b12d1eadac6/auctions/static/img/Post_para_Instagram_Promo%C3%A7%C3%A3o_de_Aparelhos_Neon__Post_para_Facebook__Paisagem____2_-removebg-preview.png"
          style="width:80%;margin:50px;border:10px" alt="No-Image-Available">
        {% endif %}
        <br /><br /><br />
        <div class="comment-box">
          <div class="container desc">
            <div class="row">
              <div class="col-11">
                <dt class="col-sm-4 mb-3 d-block text-muted">Descrição:</dt>
                <dd class="col-sm-12" style="word-wrap: break-word; margin: 20px;"> {{ object.descriptions }} </dd>
              </div>
            </div>
          </div>
        </div>

        <!-- COMMENT SECTION -->
        <div class="container">
          <div class="row">
            <div class="col-11">
              <div class="comments">

                <!-- ADD COMMENTS -->

                {% if user.username %}
                <div class="comment-box add-comment">
                  <span class="commenter-pic">
                    <img src="https://icon-library.net/images/anonymous-avatar-icon/anonymous-avatar-icon-2.jpg"
                      class="img-fluid">
                  </span>
                  <span class="commenter-name">
                    <form action="{% url 'comment' object.id %}" method="post">
                      {% csrf_token %}
                      {{ cform.comment|as_crispy_field }}
                      <button type="submit" class="btn btn-default">Comentar</button>
                    </form>
                  </span>
                </div>
                {% else %}

                {% endif %}


                <!-- TOGGLE TO HIDE/SHOW COMMENTS -->
                <p>
                  <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                    aria-controls="multiCollapseExample1">
                    <div class="comments-details">
                      <span class="total-comments comments-sort"> {{ ccount }}&nbsp; Comentários</span>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                      </svg>
                    </div>
                  </a>
                  </a>
                </p>

                <!-- LOOP TO SHOW ALL COMMENTS -->
                <div class="panel-collapse collapse show" id="multiCollapseExample1">
                  {% for obj in comment reversed %}
                  <div class="comment-box">
                    <span class="commenter-pic">
                      <img src="https://icon-library.net/images/anonymous-avatar-icon/anonymous-avatar-icon-2.jpg"
                        class="img-fluid">
                    </span>
                    <span class="commenter-name">
                      <strong> {{ obj.user }} </strong> <span class="comment-time"> {{ obj.time }} </span>
                    </span>
                    <p class="comment-txt more"> {{ obj.comment }} </p>
                  </div>
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT COLUMN - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
      <div class="col-md-5">
        <h1 style="margin-bottom: 30px; word-wrap: break-word;">{{ object.productnames }}</h1>

        <!-- PRODUCT DETAILS -->
        <dl class="row">


          <dt class="col-sm-4 mb-3 d-block text-muted">Preço atual:</dt>
          <dd class="col-sm-8"> <strong>R$ {{ object.startingbids }}</strong> </dd>

          <dt class="col-sm-4 mb-3 d-block text-muted">Número de lances:</dt>
          {% if bidcount is 0 %} <dd class="col-sm-8"> Sem lances ainda </dd>
          {% else %} <dd class="col-sm-8"> {{ bidcount }} </dd> {% endif %}

          <dt class="col-sm-4 mb-3 d-block text-muted">Categoria:</dt>
          <dd class="col-sm-8"> {{ object.category }} </dd>

          <dt class="col-sm-4 mb-3 d-block text-muted">Patrimônio:</dt>
          <dd class="col-sm-8"> {{ object.patrimonio }} </dd>

          <dt class="col-sm-4 mb-3 d-block text-muted">ID:</dt>
          <dd class="col-sm-8"> {{ object.idp }} </dd>

          <!--<dt class="col-sm-4 mb-3 d-block text-muted">Date Posted:</dt>
          <dd class="col-sm-8"> {{ object.created }} </dd>!-->

          <dt id="data_final" class="col-sm-4 mb-3 d-block text-muted"> Data Final: </dt>
          <dd class="col-sm-8"> {{ endtime }} </dd>

          <div id="countdown" class="d-flex justify-content-center">
            <div class="text-center">
              <span id="days" class="d-block mb-2 bg-light rounded-circle p-3"></span>
              <div class="smalltext">Dia(s)</div>
            </div>
            <div class="text-center mx-3">
              <span id="hours" class="d-block mb-2 bg-light rounded-circle p-3"></span>
              <div class="smalltext">Hora(s)</div>
            </div>
            <div class="text-center mx-3">
              <span id="minutes" class="d-block mb-2 bg-light rounded-circle p-3"></span>
              <div class="smalltext">Min</div>
            </div>
            <div class="text-center">
              <span id="seconds" class="d-block mb-2 bg-light rounded-circle p-3"></span>
              <div class="smalltext">Seg</div>
            </div>
          </div>
          
          <style>
            #countdown span {
              font-size: 1.2em;
              font-weight: bold;
            }
          
            #countdown span:first-child {
              background-color: #ffc107;
            }
          
            #countdown span:last-child {
              background-color: #ccc;
            }
          
            #countdown .smalltext {
              font-size: 0.8em;
              text-transform: uppercase;
              color: #666;
              margin-top: 5px;
            }
          </style>
          

          <script>
            function countdown() {
              var now = new Date();
              var eventDate = new Date("2023-12-30T17:27:00"); // definir data de termino 
              var currentTime = now.getTime();
              var eventTime = eventDate.getTime();

              var remTime = eventTime - currentTime

              var s = Math.floor(remTime / 1000);
              var m = Math.floor(s / 60);
              var h = Math.floor(m / 60);
              var d = Math.floor(h / 24);

              h %= 24;
              m %= 60;
              s %= 60;

              h = (h < 10) ? "0" + h : h;
              m = (m < 10) ? "0" + m : m;
              s = (s < 10) ? "0" + s : s;

              document.getElementById("days").textContent = d;
              document.getElementById("hours").textContent = h;
              document.getElementById("minutes").textContent = m;
              document.getElementById("seconds").textContent = s;

              setTimeout(countdown, 1000);

              if (remTime <= 0) {
                document.getElementById("dar_lance").style.display = "none";
                document.getElementById("form_valor").style.display = "none";
                document.getElementById("countdown").style.display = "none";
                document.getElementById("data_final").style.display = "none";

                clearInterval(intervalId); // limpar o intervalo, já que não é mais necessário
              }

            }

            var intervalId = setInterval(checkCountdown, 1000);

          </script>

        </dl>

        <!-- ERROR ALERT -->
        {% if error %}
        <br />
        <center class="alert alert-danger" style="margin-bottom:10px; height:30px; line-height:30px; padding:0px 15px;"
          role="alert">
          {{error}}
        </center>
        {% endif %}
        {% if success %}
        <br />
        <center class="alert alert-success" style="margin-bottom:10px; height:30px; line-height:30px; padding:0px 15px;"
          role="alert">
          {{success}}
        </center>
        {% endif %}

        <!-- SUBMIT BID FORM -->
        {% if user.username %}
        <form action="{% url 'bid' object.id %}" method="post">
          <div id="form_valor">
            <b>
              <p> Entre com o valor:</p>
            </b>
            {% csrf_token %}
            {{ bidform.bidprice|as_crispy_field }}
            <button id="dar_lance" class="btn btn-lg btn-warning btn-block text-uppercase"
              style="font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold;padding: 1rem;transition: all 0.2s;">
              Dar lance</button>
          </div>
        </form>
        {% else %}
        <a href="{% url 'login'%}">
          <button class="btn btn-lg btn-warning btn-block text-uppercase"
            style="font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold;padding: 1rem;transition: all 0.2s;">
            Entre para participar! </button>
        </a>
        {% endif %}

        <!-- WATCHLIST -->
        <br />
        {% if user.username %}
        {% if added%}
        <a href="{% url 'removewatch' object.id %}"><button
            class="btn btn-danger btn-lg btn-primary btn-block text-uppercase"
            style="#51624F; font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold;padding: 1rem;transition: all 0.2s;">
            Remover da minha lista</button></a>
        {% else %}
        <a href="{% url 'addwatch' object.id %}"><button
            class="btn btn-success btn-lg btn-primary btn-block text-uppercase"
            style="font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold;padding: 1rem;transition: all 0.2s;">
            Adicionar a minha lista</button></a>
        {% endif %}
        {% endif %}

        <br>
        {% if user.is_superuser %}
          <a href="{% url 'editar_produto' id=object.id %}"> <button class="btn btn-lg btn-info btn-block text-uppercase"
            style="#ffa500 ; font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold;padding: 1rem;transition: all 0.2s;">Editar produto
          </button></a>
          {% endif %}

        <!-- CLOSE BID-->
        <br>
        {% if user.username %}
        {% if user.is_superuser %}
        <a href="{% url 'closebid' object.id %}"><button
            class="btn btn-primary btn-lg btn-primary btn-block text-uppercase" id="close-bid-button"
            onclick="closeBid()"
            style="color: white; font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold;padding: 1rem;transition: all 0.2s;">
            Finalizar produto</button></a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>


</body>


{% endblock %}