{% extends "auctions/layout.html" %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-Dfs94t9MJJhjMSPx7FIdP3FDGt+7/73HQGXxHt4XxOqsK6cCMDDbriHTM4jXAf9r" crossorigin="anonymous">

<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="https://github.com/gabrielcn/e-commerce_website_leilao_reserva_dos_lagos/blob/main/auctions/static/img/logo-removebg-preview(2).png?raw=true">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <p class="login-card-description">Entre com a sua conta</p>

            {% if message %}
            <div>{{ message }}</div>
            {% endif %}
            <form action="{% url 'login' %}" method="post" class="needs-validation" novalidate>
              {% csrf_token %}
              <div class="form-group">
                <input type="email" id="email" class="form-control" name="email" placeholder="email">
              </div>
              <div class="form-group mb-4">
                <input type="password" name="password" placeholder="senha" id="password" class="form-control">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Log In">
            </form>
            <p class="login-card-footer-text">Não tem uma conta? <a class="underlineHover" href="{% url 'register' %}">Criar Conta</a></p>
            <p>Esqueceu a senha? <a href="{% url 'forgot_password' %}">Esqueci minha senha</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<br><br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-IXxuQe2VwtUTSo5V6F7R1s9DL7kY76EwZYf+R/obE56M1V90UTGnCx6VWt8sJff8" crossorigin="anonymous"></script>

{% endblock %}

