{% extends "auctions/layout.html" %}

{% block body %}
<br><br><br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <main style="margin-bottom: -150px" class="d-flex align-items-center min-vh-100 py-3 py-md-0" >
    <div class="container">
      <div class="card">
        <div class="row no-gutters">
 
            <div class="card-body" style="padding-top: 60px">

            <p class="login-card-description">Registrar</p>
            <p class="login-card-footer-text" style="margin: 10px; color: gray;">Ao se registrar, verifique sua caixa de entrada do e-mail para obter a senha de sua conta.</p>

            <style>
              .login-card-footer-text:hover {
                color: blue;
                transition: color 0.3s ease;
              }
            </style>

                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                  <div class="form-group" style="position: relative; z-index: 1;">
                    <input type="text" id="username" class="form-control" autofocus type="text" name="username" placeholder="Usuário">
                  </div>
                  <div class="form-group" style="position: relative; z-index: 1;">
                    <input type="email" name="email" placeholder="Email" id="text" class="form-control">
                  </div>
                  <div class="form-group" style="position: relative; z-index: 1;">
                    <input type="tel" name="phone_number" placeholder="Telefone formato (DDD) 9XXXX-XXXX" id="phone_number" class="form-control">
                  </div>
                  <div class="form-group" style="position: relative; z-index: 1;">
                    <input type="text" name="full_name" placeholder="Nome completo" id="full_name" class="form-control">
                  </div>
                  <div class="form-group" style="position: relative; z-index: 1;">
                    <input type="text" name="apartament_number" placeholder="N° Apto" id="apartament_number" class="form-control">
                  </div>
                  <div class="form-group" style="position: relative; z-index: 1;">
                    <input type="text" name="tower_number" placeholder="N° Torre" id="tower_number" class="form-control">
                  </div>
                  <div class="form-group" style="position: relative; z-index: 1;">
                    <input type="text" name="phase_number" placeholder="N° Fase" id="phase_number" class="form-control">
                  </div>
                  
                  
                 <!-- <div class="form-group">
                    <input type="password" name="password" placeholder="Password" id="password" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirmation" placeholder="Confirm Password" id="password" class="form-control" required>
                  </div> -->
                  
                  <input class="btn btn-secondary btn-block mb-4 login-card" type="submit" value="Registrar">
                  <p class="login-card-footer-text" style="margin: 10px;">Ao se registrar, você concorda com nossos <a href="{% url 'termos' %}" target="_blank" id="termos-link">termos e condições</a>.</p>
                 
                  <label class="checkbox-label">
                    <input type="checkbox" name="ciente" value="true" required>
                    <span class="checkbox-custom"></span>
                    <span class="label-text">Li, e aceito os termos e condições</span>
                  </label>
                  
                </form>

                <style>
                  /* ocultar o checkbox padrão */
input[type=checkbox] {
  display: none;
}

/* estilo do checkbox personalizado */
.checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-right: 10px;
}

/* estilo do checkbox personalizado quando marcado */
input[type=checkbox]:checked + .checkbox-custom:before {
  content: '\2713';
  display: block;
  text-align: center;
  line-height: 18px;
  color: #fff;
  background-color: #333;
}

/* estilo do texto associado */
.label-text {
  vertical-align: middle;
}

                </style>

                <!-- Adicione esse elemento div vazio no final da página -->
<div id="termos-popup"></div>


<script>
  // Get a reference to the terms and conditions link
  const termosLink = document.getElementById('termos-link');

  // Get a reference to the termos popup element
  const termosPopup = document.getElementById('termos-popup');

  // Attach a click event listener to the link
  termosLink.addEventListener('click', (event) => {
    // Prevent the link from opening in a new window
    event.preventDefault();

    // Set the HTML content of the termos popup element
    termosPopup.innerHTML = `<head>
    <title id="termos">Termos & Condições</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Estilos personalizados */
        .bg-yellow {
            background-color: white;
            position: relative;
            z-index: 2;
        }
        .logo {
            margin: 0;
            z-index: 2;
        }
        .main-text {
            margin-top: 50px;
            margin-bottom: 50px;
            z-index: 2;
        }
    </style>
</head>
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Termos & Condições</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
<body>
	<header class="bg-yellow">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-sm-2">
					<div class="pl-0 logo">
						<!--<img src="" alt="Logo Listo" width="180" height="100">-->
					</div>
				</div>
			</div>
		</div>
	</header>
	<br>
	<h2 id="vendadeequipamentos" class="text-black text-center py-1" style="font-size: 30px;">TERMO DE ADESÃO PARA PARTICIPAÇÃO DE LEILÃO</h2>
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12 main-text">
				<h4>Este contrato estabelece as condições para a participação de particulares em leilões promovidos pelo site "Leilão Reserva dos Lagos". Ao aceitá-las, o participante denominado apenas "Usuário", declara estar ciente e de acordo com as cláusulas e condições a seguir: </h4>
        <br><br>
        <p>
    1. <strong>CADASTRO E TAXA DE MANUTENÇÃO</strong>
  </p>
  
  <p>
    1.1) A participação do Usuário no leilão promovido pelo site "Leilão Reserva dos Lagos" requer o cadastro prévio no ambiente virtual (site) designado para os leilões. O cadastro será realizado de forma gratuita, permitindo ao Usuário explorar as funcionalidades do site e participar dos leilões.
  </p>
  
  <p>
    1.2) O site "Leilão Reserva dos Lagos" reserva-se o direito de, futuramente, cobrar uma taxa de manutenção para a utilização contínua dos serviços e recursos do site. O Usuário será devidamente informado com antecedência e poderá optar por continuar utilizando o site mediante o pagamento da referida taxa.
  </p>
  
  <p>
    2. <strong>RESPONSABILIDADES DO USUÁRIO</strong>
  </p>
  
  <p>
    2.1) O Usuário reconhece e concorda que é o único responsável por todas as informações fornecidas durante o cadastro, incluindo a veracidade dos dados pessoais e de contato.
  </p>
  
  <p>
    3. <strong>VINCULAÇÃO APÓS ARREMATE E PAGAMENTO</strong>
  </p>
  
  <p>
    2.2) Após ser declarado o vencedor do leilão, o Arrematante/Usuário assume o compromisso de honrar o lance vencedor, efetuando o pagamento do valor do produto, de acordo com as instruções fornecidas pelo site "Leilão Reserva dos Lagos".
  </p>
  
  <p>
    2.3) O Usuário deve verificar cuidadosamente as informações e condições dos produtos antes de efetuar qualquer lance. O site "Leilão Reserva dos Lagos" não se responsabiliza por eventuais vícios, defeitos ou problemas relacionados aos bens leiloados.
  </p>
  
  <p>
    2.4) O site "Leilão Reserva dos Lagos" não se responsabiliza por qualquer disputa, litígio ou questão que surja entre o Arrematante/Usuário e o Vendedor em relação à venda do produto arrematado. Qualquer divergência ou problema deve ser resolvido diretamente entre as partes envolvidas, sem envolvimento ou responsabilidade do site "Leilão Reserva dos Lagos".
  </p>

  <p> Por estar ciente e de acordo com os termos estabelecidos, o Usuário assina eletronicamente este contrato ao realizar o cadastro no site "Leilão Reserva dos Lagos". </p>
			</div>
		</div>
	</div>
	
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            </div>
            <footer class="footer">
   <!--<img src="" width="100" height="50" alt="Descrição da imagem do logo" style="float: left;">-->
   <br><p>Leilão Reserva dos Lagos &copy; Copyright 2023. Todos os direitos reservados.</p>
</footer>

<style> 
  .footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
</style>


          </div>
        </div>
      </div>
    `;

    // Show the terms and conditions popup by triggering the Bootstrap modal
    const termosModal = new bootstrap.Modal(termosPopup.querySelector('.modal'));
    termosModal.show();
  });
</script>


                
                
            <p class="login-card-footer-text" style="margin-top: 25px;">Já tem uma conta? <a href="{% url 'login' %}">Logue aqui.</a></p>
            </div>
          </div>
        </div>
      </div>
        </div>
  </main>
  <br><br>     <br><br>

{% endblock %}
