{% extends "auctions/layout.html" %}

{% block body %}
<br><br><br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <main style="margin-bottom: -150px" class="d-flex align-items-center min-vh-100 py-3 py-md-0" >
    <div class="container">
      <div class="card">
        <div class="row no-gutters">
 
            <div class="card-body" style="padding-top: 60px">

            <p class="login-card-description">Registrar</p>
            <p class="login-card-footer-text" style="margin: 10px; color: gray;">Ao se registrar, verifique sua caixa de entrada do e-mail para obter a senha de sua conta.</p>

            <style>
              .login-card-footer-text:hover {
                color: blue;
                transition: color 0.3s ease;
              }
            </style>

                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                  <div class="form-group" style="position: relative; z-index: 1;">
                    <input type="text" id="email" class="form-control" autofocus type="text" name="username" placeholder="Usuário ex: joao.silva">
                  </div>
                  <div class="form-group" style="position: relative; z-index: 1;">
                    <input type="email" name="email" placeholder="Email Address" id="text" class="form-control" required readonly>
                  </div>
                 <!-- <div class="form-group">
                    <input type="password" name="password" placeholder="Password" id="password" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirmation" placeholder="Confirm Password" id="password" class="form-control" required>
                  </div> -->
                  
                  <input class="btn btn-secondary btn-block mb-4 login-card" type="submit" value="Registrar">
                  <p class="login-card-footer-text" style="margin: 10px;">Ao se registrar, você concorda com nossos <a href="{% url 'termos' %}" target="_blank" id="termos-link">termos e condições</a>.</p>
                 
                  <label class="checkbox-label">
                    <input type="checkbox" name="ciente" value="true" required>
                    <span class="checkbox-custom"></span>
                    <span class="label-text">Li, e aceito os termos e condições</span>
                  </label>
                  
                </form>

                <style>
                  /* ocultar o checkbox padrão */
input[type=checkbox] {
  display: none;
}

/* estilo do checkbox personalizado */
.checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-right: 10px;
}

/* estilo do checkbox personalizado quando marcado */
input[type=checkbox]:checked + .checkbox-custom:before {
  content: '\2713';
  display: block;
  text-align: center;
  line-height: 18px;
  color: #fff;
  background-color: #333;
}

/* estilo do texto associado */
.label-text {
  vertical-align: middle;
}

                </style>

                <!-- Adicione esse elemento div vazio no final da página -->
<div id="termos-popup"></div>

<!--... O restante do código permanece igual ...-->

                <script>
                  // Get references to the username and email input fields
                  const usernameInput = document.getElementById('email');
                  const emailInput = document.getElementById('text');
                
                  // Update the email input field whenever the username input field changes
                  usernameInput.addEventListener('input', (event) => {
                    const username = event.target.value;
                    emailInput.value = `${username}@soulisto.com.br`;
                  });
                </script>

<script>
  // Get a reference to the terms and conditions link
  const termosLink = document.getElementById('termos-link');

  // Get a reference to the termos popup element
  const termosPopup = document.getElementById('termos-popup');

  // Attach a click event listener to the link
  termosLink.addEventListener('click', (event) => {
    // Prevent the link from opening in a new window
    event.preventDefault();

    // Set the HTML content of the termos popup element
    termosPopup.innerHTML = `<head>
    <title id="termos">Termos & Condições</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Estilos personalizados */
        .bg-yellow {
            background-color: white;
            position: relative;
            z-index: 2;
        }
        .logo {
            margin: 0;
            z-index: 2;
        }
        .main-text {
            margin-top: 50px;
            margin-bottom: 50px;
            z-index: 2;
        }
    </style>
</head>
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Termos & Condições</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
<body>
	<header class="bg-yellow">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-sm-2">
					<div class="pl-0 logo">
						<img src="https://github.com/Natans37/e-commerce-website/blob/master/auctions/static/img/Logo%20simples.png?raw=true" alt="Logo Listo" width="180" height="100">
					</div>
				</div>
			</div>
		</div>
	</header>
	<br> <br>
	<h3 id="vendadeequipamentos" class="text-black text-center py-1" style="font-size: 20px; font-style: italic;">TERMO DE REGRAS E DEFINIÇÕES DA COMPRA E VENDA DE EQUIPAMENTOS DE INFORMÁTICA</h3>
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12 main-text">
				<p>Este termo contém as condições gerais para a venda de equipamentos de informática (“Equipamento(s)”) da <b>LISTO COMÉRCIO E DISTRIBUIÇÃO DE EQUIPAMENTOS LTDA</b>, sociedade limitada, com sede na Avenida Brigadeiro Faria Lima, nº1663, 8º andar, sala 3, Jardim Paulistano, São Paulo- SP, CEP 01452-001, inscrita no CNPJ sob o nº 31.739.211/0001-74 (“Listo”) aos colaboradores interessados do Grupo Listo (“Comprador”) em condições especiais, considerando serem usados e sem qualquer garantia, os colaboradores têm interesse em adquirir equipamentos nessas condições especiais, cientes de que se tratam de equipamentos usados e sem qualquer garantia.</p>
				<p>Os Equipamentos serão disponibilizados através de link específico na intranet da Listo (“Conecta”), sendo que cada Equipamento possuirá número, foto, controle do ativo (se houver), descrição geral, marca, modelo, estado (funcionando ou com defeito) e valor de lance mínimo. </p>
				<p>Neste sentido, o possível Comprador poderá dar quantos lances desejar de compra para cada Equipamento, no entanto somente o maior lance será considerado para determinar o Colaborador que arremeteu o Equipamento que será divulgado toda sexta-feira.</p>
        <p>Após essa apuração, serão preparados os documentos necessários para serem assinados e entregues juntamente com o Equipamento para o Comprador. Em seguida, o Equipamento será marcado como “vendido” no Conecta, a compra só será efetivada, após a análise do Comprador quanto ao Equipamento adquirido. </p>
        <p>Como pagamento pela aquisição dos Equipamentos, conforme demanda do Comprador, o Comprador pagará a Listo por meio de cartão de crédito ou débito de titularidade deste, sem a possibilidade de desconto em folha de pagamento.</p>
        <p>O inadimplemento do pagamento dos Equipamentos acarretará a incidência de multa de 2% (dois por cento) sobre o valor em atraso, corrigidos pelo IPCA, com juros de 1% (um por cento) ao mês, calculados proporcionalmente até a data do efetivo pagamento, sem prejuízo da Listo tomar medidas para protesto, registro nas instituições de proteção ao crédito, bem como pleitear, judicial ou extrajudicialmente, as demandas que entender devidas em face do Comprador.</p>
        <p>Declara o Comprador que: </p>
        <p> a.	Manifesta expressamente o seu interesse em adquirir os Equipamentos no estado em que se encontram, não devendo a Listo responder por quaisquer defeitos, avarias e/ou vícios contidos nos bens que porventura possam existir;</p>
        <p> b.	Tendo conhecimento o presente trata da venda de Equipamentos de informática usados e que são vendidos no exato estado em que se encontram na data que forem retirados, e que, por isso, os Equipamentos ora adquiridos não possuem quaisquer garantias quanto ao seu estado, integridade, funcionamento, itens, componentes, acessórios, etc., fato esse que é de prévio e pleno conhecimento do Comprador, que neste ato se declara de pleno acordo, para nada reclamar neste sentido, seja a que título for; e</p>
        <p> c.	Por força do constante na alínea antecedente (letra “b”), renuncia expressamente a qualquer direito de ressarcimento e/ou reembolso que possa vir a pleitear, seja a que título for, relativo à garantia e/ou a qualquer pleito quanto ao estado de compra ou funcionamento, presente ou futuro, dos Equipamentos ora adquiridos.</p>
        <p> O Comprador deverá testar os Equipamentos adquiridos antes da assinatura do Contrato de Compra e Venda de Equipamentos de Informática (“Contrato”), concordando expressamente em adquiri-los nas condições em que se encontram e nas condições comerciais previstas neste documento, sendo o presente Termo parte integrante e indissociável do Contrato. </p>
        <p> Por fim, o Comprador deverá providenciar a retirada dos Equipamentos na Avenida Brigadeiro Faria Lima, nº1663, 8º andar, Jardim Paulistano, CEP 01452-001, respeitando as regras do local e tendo os cuidados necessários, sendo exclusivo responsável por custear todo o processo de retirada dos Equipamentos, incluindo, mas não se limitando a, mover, carregar e transportar os Equipamentos do local que estão até a destinação que deseje. Na hipótese do Comprador solicitar expressamente por escrito o envio do Equipamento por Correio, será acrescido no preço do Equipamento e o pagamento deverá ser efetuado no momento da compra deste, não devendo a Listo responder por quaisquer defeitos, avarias ou furtos que porventura possam ocorrer. Nesta condição, o Comprador não terá a possibilidade de testar o Equipamento adquirido assumindo o risco quanto ao seu estado integridade, funcionamento, itens, componentes, acessórios, etc.  </p>
        <p> Ao utilizar o Ofertas Listo, o Comprador reconhece ter lido e aceito integralmente as disposições deste Termo, bem como os demais termos e condições garantidas à utilização do Ofertas Listo para a compra de Equipamentos. </p>
			</div>
		</div>
	</div>
	
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            </div>
            <footer class="footer">
   <img src="https://github.com/Natans37/e-commerce-website/blob/master/auctions/static/img/logo_icon.png?raw=true" width="100" height="50" alt="Descrição da imagem do logo" style="float: left;">
   <br><p>Listo &copy; Copyright 2023. Todos os direitos reservados.</p>
</footer>

<style> 
  .footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
</style>


          </div>
        </div>
      </div>
    `;

    // Show the terms and conditions popup by triggering the Bootstrap modal
    const termosModal = new bootstrap.Modal(termosPopup.querySelector('.modal'));
    termosModal.show();
  });
</script>


                
                
            <p class="login-card-footer-text" style="margin-top: 25px;">Já tem uma conta? <a href="{% url 'login' %}">Logue aqui.</a></p>
            </div>
          </div>
        </div>
      </div>
        </div>
  </main>
  <br><br>     <br><br>

{% endblock %}