{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container" style="margin: 15% auto 50% auto">
        <h3>Resumo de {{ name }} </h3>
        <ul>
            <!-- <li><b>Listed by: </b>{{closebidlist.lister}}</li> -->
            {% if closebidlist.bidder == user.username %}
            <li><b>Ganhador: </b> {{closebidlist.bidder}} (Sem Ganhador) </li>
            {% else %}
            <li><b>Ganhador: </b>{{closebidlist.bidder}}</li>
            {% endif %}
            <li><b>Lance final: $</b>{{closebidlist.finalbid}}</li>
            <!--<li><b>E-mail: $</b>{{closebidlist.user.email}}</li> -->
        </ul>
    </div>

{% endblock %}
